<link href="views/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="views/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="/views/css/reset.css">
<link rel="stylesheet" href="/views/css/index.css">
<link rel="stylesheet" href="/views/icomoon/style.css">
<div class="wrapper-out">
	<div class="wrapper clearfix">
		<div class="header-line">
			<div class="logo">
				<h3>后台logo</h3>
			</div>
		</div>
		<div class="left-side">
			<ul class="left-side-side">
				<li><a href=""><i class="icon-play3"></i>审核审核</a></li>
				<li><a href=""><i class="icon-play3"></i>审核审核</a></li>
			</ul>
		</div>
		<div class="right-side">
			<div class="right-side-in">
				<div class="home">
					
					<h2 class="title">后台管理</h2>
				</div>
				<div class="tab">
					
					<div class="tab-con">
						<div ui-view></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>