<div class="wrapper-out">
	<div class="wrapper clearfix">
		<div class="header-line">
			<div class="logo">
				<h3>后台logo</h3>
			</div>
		</div>
		<div class="left-side">
			<ul class="left-side-side">
				<li><a href=""><i class="icon-play3"></i>审核审核</a></li>
				<li><a href=""><i class="icon-play3"></i>审核审核</a></li>
			</ul>
		</div>
		<div class="right-side">
			<div class="right-side-in">
				<div class="home">
					
					<h2 class="title">后台管理</h2>
				</div>
				<div class="tab">
					
					<div class="tab-con">
						<div class="con1">
							<div class="con1-wrapper">
								<div class="con1-wrapper-left">
									<a href="举报照片.html">审核入口</a>
								</div>
								<div class="con1-wrapper-right">
									<a href="运营账号.html">运营入口</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>